@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 0.940rem;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 26.565rem;
}

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-65%, 20%);
    height: 15%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(0.5rem, 5vw, 1.565rem);
}

.pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border-radius: 0.125rem solid #333;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(0.5rem, 5vw, 1.565rem);
    box-shadow: -0.188rem 0.25rem 0 #888, -0.313rem 0.438rem 0 #333;
}

.buttons {
    position: absolute;
    display: flex;
    gap: 1.25rem;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
}

.button {
    width: 50%;
    padding: 4%;
    border: 0.125rem solid #000;
    font-size: clamp(0.5rem, 5vw, 1rem);
    color: #fff;
    background-color: #444;
    box-shadow: -0.125rem 0.188rem 0 #222, -0.25rem 0.375rem 0 #000;
}

.button:active {
    box-shadow: inset -0.25rem 0.25rem 0 #222;
    font-size: 0.9rem;
}